<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div ng-view></div>

  <div class="clearfix add-work" ng-controller="MyCtrl">
      <a class="select-all" href="" ng-show=""></a>
      <input class="input-size" type="text" placeholder="What needs to be down?"
          ng-keypress="add_work($event)" ng-model="one_work"/>

      <div class="work" ng-repeat="work in all_work" ng-show="all">
          <a href="" ng-click="sign_work(work)">sign</a>
          <div class="inline-block" ng-mouseover="hover=1" ng-mouseleave="hover=0">
              <del ng-show="work.is_complete">
                  <span>{{work.name}}</span>
              </del>
              <span ng-show="!work.is_complete">{{work.name}}</span>
              <a ng-click="delete_work(work)" ng-show="hover">delete</a>
          </div>
          <br />
      </div>
      <div class="work" ng-repeat="work in uncompleted_work" ng-show="active">
          <a href="" ng-click="sign_work(work)">sign</a>
          <div class="inline-block" ng-mouseover="hover=1" ng-mouseleave="hover=0">
              <span>{{work.name}}</span>
              <a ng-click="delete_work(work)" ng-show="hover">delete</a>
          </div>
          <br />
      </div>
      <div class="work" ng-repeat="work in completed_work" ng-show="completed">
          <a href="" ng-click="sign_work(work)">sign</a>
          <div class="inline-block" ng-mouseover="hover=1" ng-mouseleave="hover=0">
              <del>
                  <span>{{work.name}}</span>
              </del>
              <a ng-click="delete_work(work)" ng-show="hover">delete</a>
          </div>
          <br />
      </div>

      <br />
      <br />
      <br />

      <div>
          <span>{{uncompleted_count}}&nbsp;item left</span>
          <a ng-click="change_list('all')">all</a>
          <a ng-click="change_list('active')">active</a>
          <a ng-click="change_list('completed')">completed</a>
          <a ng-click="remove_all_completed()">clear completed({{completed_count}})</a>
      </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular-local-storage.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-plugin-demo.js"></script>
</body>
</html>
